<%= render "shared/header" %>
<%= render "shared/cursos" %>
  

<!-- Linea Section -->
<section id="linea">
  <div class="container-fluid linea"></div>
</section>

<%= render "shared/comunidade" %>
<%= render "shared/produtos" %>
<%= render "shared/footer" %>
