<%= form_with(model: curso, local: true) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :videoIntro %>
    <%= form.text_field :videoIntro %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.select(:professor_id, Professor.all.collect {|u| [u.nome, u.id]}, :prompt => 'Selecione') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
