<%= render "shared/header" %>

<!-- Banner Section -->
<section id="banner">
  <div class="container banner">
    <div class="row">
      <div class="col-md-6 col-sm-6 d-flex align-items-center">
        <div>
          <p class="promo-title">Aprenda a Desenvolver Soluções</p>
          <p>Aprenda gratuitamente com os nossos conteúdos gravados, 
              anote tudo e pague somente para tirar dúvidas em aulas particulares.</p>
          <a data-toggle="modal" data-target="#exampleModal"><img src="./image/play.png" class="play-bnt"> Conheça nosso projeto</a>    
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: 0;">
                  <span aria-hidden="true" style="color: #fff;">×</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe class="iframe" src="https://www.youtube.com/embed/2GxesFE4ETg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 text-center">
        <img src="./image/programmer.svg" class="img-fluid img-banner">
      </div>
    </div>
  </div>
  <div class="wave wave1">
  <div class="wave wave2">
  <div class="wave wave3">
  <div class="wave wave4">
  <div class="wave wave5">
  </div></div></div></div></div>
</section>

<main>

<!-- Services Section -->
<section id="services">
  <div class="container">
    <h2 class="title text-center">Sua carreira do Zero ao Profissional</h2>
    <div class="row text-center">
      <div class="col-md-6 services d-flex align-items-center">
        <div>
          <img src="/image/researching.svg" alt="" class="service-img">
          <h5>Desenvolva seu Projeto</h5>
          <div class="content-text">
            <p>Nós oferecemos serviços de qualidade personalizados às necessidades do cliente. 
              Buscando excelência na execução de projetos para a sociedade. Conte conosco e 
              faça seu orçamento.</p>
            <a class="btn" href="/comprar/hora-desenvolvimento">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 services d-flex align-items-center">
        <div>
          <img src="/image/community.svg" alt="" class="service-img">
          <h5>Agende uma Reunião</h5>
          <div class="content-text">
            <p>Aqui você pode marcar uma reunião ou consultoria comigo, após marcar irei verificar se o seu pagamento 
                está correto para que possamos dar os próximos passos, vejo você em nossa reunião !!!</p>
            <a class="btn" href="/agenda">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="./image/wave.png" alt="" class="bottom-img">
</section> 
     



<%= render "shared/cursos" %>
  

<!-- Linea Section -->
<section id="linea">
  <div class="container-fluid linea"></div>
</section>

<%= render "shared/comunidade" %>
<%= render "shared/comentario" %>
<%= render "shared/produtos" %>
<%= render "shared/footer" %>


     




